{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="{% static '/css/style.css' %}">
	<link rel="stylesheet" href="{% static '/css/home.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Roboto&family=Source+Sans+Pro&family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Caramel&family=Cookie&family=Fleur+De+Leah&family=Great+Vibes&family=Italianno&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static '/css/slick.css' %}">
	
</head>
<body>

	<section class="menu-section">
		<div class="container">
			<div class="menu">
				
				<div class="menu__logo">
					<a href="{% url 'home' %}" class="menu__logo_logo">
						Maki<span>Club</span>
					</a>
				</div>
				<div class="menu__categories">
					<ul class="menu__categories_list">
						<li class="menu__categories_list_item">
							<a href="{% url 'recipes_by_group' %}?group_uuid=6d5cda17-a9c2-410d-baaf-34586ee50652">Recent</a>
						</li>
						<li class="menu__categories_list_item">
							<a href="#">Popular</a>
						</li>
						<li class="menu__categories_list_item">
							<a href="#">Offers</a>
						</li>
						<li class="menu__categories_list_item">
							<a href="#">Best</a>
						</li>
					</ul>
				</div>
				<div class="menu__search">
					<button class="menu__search_input_button">
						<img src="{% static 'img/search.svg' %}" alt="">
					</button>
				</div>


				<div class="menu__hide">
					<button onclick="menu_top_clicked()" class="menu__hide_button">
						<div class="menu__hide_button-stick"></div>
						<div class="menu__hide_button-stick"></div>
						<div class="menu__hide_button-stick"></div>
					</button>
				</div>
			</div>
		</div>
	</section>

	<section class="mobile-top-section">
		<div class="container">
			<div class="mobile-top">

				<div class="menu__hide">
					<button onclick="menu_top_clicked()" class="menu__hide_button">
						<div class="menu__hide_button-stick"></div>
						<div class="menu__hide_button-stick"></div>
						<div class="menu__hide_button-stick"></div>
					</button>
				</div>

				<div class="menu__logo">
					<a href="/" class="menu__logo_logo">
						Maki<span>Club</span>
					</a>
				</div>

			</div>
		</div>
	</section>


	<section class="recommendation-section">
		<div class="container">
			<div class="recommendation">
				
				<div class="recommendation__best_today" id="recommendation__best_today">
					<div class="recommendation__best_today_image">
						<img src="{% static 'img/presentation_cookie.webp' %}" alt="" class="recommendation__best_today_image-img">
						<div class="recommendation__best_today_image_text">
							<div class="recommendation__best_today_image_text_inner">
								<h3 class="recommendation__best_today_image_text-title">
									Sesame crisp cookies
								</h3>
								<p class="recommendation__best_today_image_text-description">
									These thin, beautiful, sesame cookies are crispy, buttery, and studded with black sesame seeds.
								</p>
								<a href="#" class="recommendation__best_today_image_text-link">
									Get the recipe > 
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="recommendation__best_month">
					<div class="recommendation__best_month_logo">
						Maki<span>Club</span>
					</div>

					<div class="recommendation__best_month_title">
						The best recipes of this month >
					</div>

					<div class="recommendation__best_month_list">
						<!--
							This part will be added dynamically with ajax
						-->
					</div>
				</div>

			</div>
		</div>
	</section>


	<section class="feasts-section">
		<div class="container">
			<div class="feasts">
				
				<div class="feasts__title">
					<h3 class="feasts__title-title">
						Christmas Feasts >
					</h3>
				</div>

				<div class="feasts__list">
					<!-- 
						This part will be added dynamically 
						with ajax
					-->
				</div>

			</div>
		</div>
	</section>	


	<section class="chefs-section">
		<div class="container">
			<div class="chefs">
				
				<div class="chefs__text">
					<img src="{% static 'img/venchik.png' %}" class="chefs__text-img">				
					<h4 class="chefs__text-title">
						 The Simply Recipes Team
					</h4>
					<p class="chefs__text-description">
						Simply Recipes is a trusted resource for home cooks with more than 3,000 tested recipes, guides, and meal plans, drawing over 15 million readers each month from around the world. We’re supported by a group of recipe developers, food writers, recipe and product testers, photographers, and other creative professionals.
					</p>
					<a href="#" class="chefs__text-link">Read more ></a>
				</div>

				<div class="chefs__chefs">
					<div class="chefs__chefs_chef">
						<img src="{% static 'img/chef#1.png' %}" class="chefs__chefs_chef-img">
						<h5 class="chefs__chefs_chef-title">
							Chef №1
						</h5>
					</div>
				</div>

			</div>
		</div>
	</section>


	<section class="groups-section">
		<div class="container">
			<div class="groups">
				<!--
					This part will be loaded dynamatically 
					with ajax
				-->	
			</div>
		</div>
	</section>

	
	<section class="footer-section">
		<div class="container">
			<div class="footer">

				<div class="footer__links">
					<ul class="footer__links_ul">
						<li class="footer__links_ul_li">
							<a href="#" class="footer__links_ul_li-link">
								<img src="{% static 'img/instagram.svg' %}" alt="" class="footer__links_ul_li-link--img">
							</a>
						</li>
						<li class="footer__links_ul_li">
							<a href="#" class="footer__links_ul_li-link">
								<img src="{% static 'img/youtube.svg' %}" alt="" class="footer__links_ul_li-link--img">
							</a>
						</li>
						<li class="footer__links_ul_li">
							<a href="#" class="footer__links_ul_li-link">
								<img src="{% static 'img/vk.svg' %}" alt="" class="footer__links_ul_li-link--img">
							</a>
						</li>
						<li class="footer__links_ul_li">
							<a href="#" class="footer__links_ul_li-link">
								<img src="{% static 'img/facebook.svg' %}" alt="" class="footer__links_ul_li-link--img">
							</a>
						</li>
					</ul>
				</div>	
				<div class="footer__authors">
					<div class="footer__authors_author">
						<div class="footer__authors_author_title footer__authors_author_makariy">
							Makariy Corp.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{% static '/js/slick.min.js' %}"></script>
	<script src="{% static '/js/home.js' %}"></script>
	<script>
		function menu_top_clicked() {
			var menu = $('.menu-section');
			if (menu.hasClass('active')){
				$('body')[0].style['overflow-y'] = 'scroll';
				menu.removeClass('active');
			}
			else {
				$('body')[0].style['overflow-y'] = 'hidden';
				menu.addClass('active');
			}
		}
	</script>
</html>