{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static '/css/style.css' %}">
	<link rel="stylesheet" href="{% static '/css/search.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Roboto&family=Source+Sans+Pro&family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Caramel&family=Cookie&family=Fleur+De+Leah&family=Great+Vibes&family=Italianno&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static '/css/slick.css' %}">
</head>
<body>
    <section class="menu-section">
		<div class="container">
			<div class="menu">
				<div class="menu__logo">
					<a href="{% url 'home' %}" class="menu__logo_logo">
						Maki<span>Club</span>
					</a>
				</div>
				<div class="menu__categories">
					<ul class="menu__categories_list">
						<li class="menu__categories_list_item">
							<a href="{% url 'recipes_by_group' %}?group_uuid=6d5cda17-a9c2-410d-baaf-34586ee50652">Recent</a>
						</li>
						<li class="menu__categories_list_item">
							<a href="#">Popular</a>
						</li>
						<li class="menu__categories_list_item">
							<a href="#">Offers</a>
						</li>
						<li class="menu__categories_list_item">
							<a href="#">Best</a>
						</li>
					</ul>
				</div>
				<div class="menu__search">
					<input type="text" id="menu__search_input" placeholder="Search...">
					<button class="menu__search_input_button" onclick="goSearch()">
						<img src="{% static 'img/search.svg' %}" alt="">
					</button>
				</div>


				<div class="menu__hide">
					<button onclick="menu_top_clicked()" class="menu__hide_button">
						<div class="menu__hide_button-stick"></div>
						<div class="menu__hide_button-stick"></div>
						<div class="menu__hide_button-stick"></div>
					</button>
				</div>
			</div>
		</div>
	</section>

	<section class="mobile-top-section">
		<div class="container">
			<div class="mobile-top">

				<div class="menu__hide">
					<button onclick="menu_top_clicked()" class="menu__hide_button">
						<div class="menu__hide_button-stick"></div>
						<div class="menu__hide_button-stick"></div>
						<div class="menu__hide_button-stick"></div>
					</button>
				</div>

				<div class="menu__logo">
					<a href="/" class="menu__logo_logo">
						Maki<span>Club</span>
					</a>
				</div>

			</div>
		</div>
	</section>


	<section class="search-section">
		<div class="container">
			<div class="search">
				<div class="search__text">
					<h2 class="search__text-title">
						<!-- Loading dynamically...-->
					</h2>
					<p class="search__text-description">
						<!-- Loading dynamically...-->
					</p>
				</div>
			</div>
		</div>
	</section>


	<section class="recipes-section">
		<div class="container">
			<div class="recipes">
				<div class="recipes__inner">

				</div>
			</div>
		</div>
	</section>

	<section class="footer-section">
        <div class="container">
            <div class="footer">

                <div class="footer__links">
                    <ul class="footer__links_ul">
                        <li class="footer__links_ul_li">
                            <a href="#" class="footer__links_ul_li-link">
                                <img src="{% static 'img/instagram.svg' %}" alt="" class="footer__links_ul_li-link--img">
                            </a>
                        </li>
                        <li class="footer__links_ul_li">
                            <a href="#" class="footer__links_ul_li-link">
                                <img src="{% static 'img/youtube.svg' %}" alt="" class="footer__links_ul_li-link--img">
                            </a>
                        </li>
                        <li class="footer__links_ul_li">
                            <a href="#" class="footer__links_ul_li-link">
                                <img src="{% static 'img/vk.svg' %}" alt="" class="footer__links_ul_li-link--img">
                            </a>
                        </li>
                        <li class="footer__links_ul_li">
                            <a href="#" class="footer__links_ul_li-link">
                                <img src="{% static 'img/facebook.svg' %}" alt="" class="footer__links_ul_li-link--img">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer__authors">
                    <div class="footer__authors_author">
                        <div class="footer__authors_author_title footer__authors_author_makariy">
                            Makariy Corp.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{% static '/js/slick.min.js' %}"></script>
	<script src="{% static '/js/search.js' %}"></script>
	<script>
		function menu_top_clicked() {
			var menu = $('.menu-section');
			if (menu.hasClass('active')){
				$('body')[0].style['overflow-y'] = 'scroll';
				menu.removeClass('active');
			}
			else {
				$('body')[0].style['overflow-y'] = 'hidden';
				menu.addClass('active');
			}
		}
	</script>
</html>