/*

	Main background color:  #ffffff;
	Main border color:  #f0e965;
	Main #f2eecb;
	Maki style:  #fffdd0;

*/



/*

------------------------------------------------------------
		
							GENERAL

------------------------------------------------------------

*/

.recipe__item {
	position: relative;
	height: 26rem;
	width: 18rem;
	transition: 0.2s;
	border: none;
	background-color: #fff;
}
.recipe__item:hover:before {
	left: 7px;
	top: 7px;
}
.recipe__item:before {
	content: "";
	transition: 0.2s;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #f0e965;
}

.recipe__item-img {
	height: 45%;
	width: 100%;
}
.recipe__item_text {
	padding: 20px;
	word-wrap    : break-word;
    overflow-wrap: break-word;

}
.recipe__item_text-title {
	font-size: 26px;
	font-family: 'Lora', serif;
	font-weight: 500;
}
.recipe__item_text-description {
	font-size: 18px;
	font-family: 'Lora', serif;
	font-weight: 400;
}
/*

------------------------------------------------------------
		
							END OF GENERAL

------------------------------------------------------------

*/




/*
------------------------------------------------------------

							RECOMMENDATION

------------------------------------------------------------
*/

.recommendation {
	display: flex;
	justify-content: space-between;
}


.recommendation__best_today {
	width: 55%;
}
.recommendation__best_today_image {
	position: relative;
	height: 100%;
}
.recommendation__best_today_image-img {
	height: 100%;
	width: 100%;
}
.recommendation__best_today_image_text {
	color: #222;
	font-family: 'Lora', serif;
	font-weight: 400;

	text-align: center;
	background-color: #fff;
	opacity: 0.9;

	width: 70%;
	padding: 15px;

	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.recommendation__best_today_image_text_inner {
	border: 2px solid #f0e965;
	padding: 20px;
}
.recommendation__best_today_image_text-title {
	font-weight: 600;
	font-style: italic;
	font-size: 30px;
}
.recommendation__best_today_image_text-description {
	font-weight: 400;
}
.recommendation__best_today_image_text-link {
	font-weight: 600;
	text-decoration: underline;
}


.recommendation__best_month {
	width: 45%;
	position: relative;
	z-index: 0;

	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,253,222,1) 100%);
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.recommendation__best_month_logo {
	width: fit-content;

	font-size: 36px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
.recommendation__best_month_logo span {
	background-color: #fffdd0;
	border-radius: 25%;
	padding: 15px 0;
}


.recommendation__best_month_title {
	margin-top: 45px;
	font-size: 30px;
    font-family: 'Lora', sans-serif;
    text-decoration: underline;
    text-decoration-color: #f0e965;
}
.recommendation__best_month_list {
	margin-top: 25px;

	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.recommendation__best_month_list .recipe__item {
	height: 24rem;
	width: 16rem;
}


/*
------------------------------------------------------------

							END RECOMMENDATION

------------------------------------------------------------
*/

/*
------------------------------------------------------------

							FEASTS

------------------------------------------------------------
*/

.feasts {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 0;
	background-color: #fffdde;
	padding: 50px 0;
}
.feasts__title {
	text-decoration: underline;
	text-decoration-color: #f0e965;
	font-size: 30px;
    font-family: 'Lora', sans-serif;

}
.feasts__list {
	margin-top: 20px;
	width: 75%;
	display: flex;
	justify-content: space-around;
	align-items: center;

}


/*
------------------------------------------------------------

							END FEASTS

------------------------------------------------------------
*/



/*
------------------------------------------------------------

							CHEFS

------------------------------------------------------------
*/
.chefs {
	height: 30vw;
	margin: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.chefs__text {
	height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.chefs__text-img {
	height: 25%;
	width: 25%;
}
.chefs__text-title {
	margin: 10px 0 0 0;
	font-size: 30px;
	font-family: 'Lora', serif;

}
.chefs__text-description {
	margin: 20px 0 0 0;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;

}
.chefs__text-link {
	margin: 15px 0 0 0;
	background-color: #F1EC8B;
	padding: 10px 20px;
	border: 2px solid #d7d7d7;
}

.chefs__chefs {
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #F1EC8B;
}
.chefs__chefs_chef {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.chefs__chefs_chef-img {
	height: 100px;
	width: 100px;
	border: 2px solid #d7d7d7;
	border-radius: 50%;
}
.chefs__chefs_chef-title {
	font-size: 16px;
	font-weight: 600;
	font-family: 'Lora', serif;
	margin-top: 7px;
}



/*
------------------------------------------------------------

							END CHEFS

------------------------------------------------------------
*/


/*

------------------------------------------------------------
		
							GROUPS

------------------------------------------------------------

*/
.groups {
	position: relative;
	z-index: 0;
	padding: 50px 0;
	background-color: rgba(255,253,222,1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.groups__group {
	padding: 30px 0;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.groups__group_title-title {
	font-size: 30px;
	font-family: 'Lora', serif;
	font-weight: 400;
	text-decoration: underline;
	text-decoration-color: #f0e965;
}
.groups__group_recipes {
	width: 100%;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
/*

------------------------------------------------------------
		
							END GROUPS

------------------------------------------------------------

*/




