/*

	Main background color:  #ffffff;
	Main border color:  #f0e965;
	Main #f2eecb;
	Maki style:  #fffdd0;

*/






/*

------------------------------------------------------------
		
							MENU

------------------------------------------------------------

*/
.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid #f0e965;
	font-family: 'Roboto', sans-serif;
	padding: 17px 30px;
}

.menu__logo {
	font-size: 24px;
    font-weight: 700;
}
.menu__logo span {
	background-color: #fffdd0;
	border-radius: 25%;
	padding: 10px 0;
}

.menu__categories_list {
	display: flex;
	justify-content: space-between;
}

.menu__categories_list_item {
	margin-left: 15px;
}
.menu__categories_list_item:fisrt-child {
	margin-left: 0;
}

.menu__search {
	display: flex;
	align-items: center;
}
#menu__search_input {
	padding: 3px 5px;
	border-radius: 5px;
	outline: none;
	border: 2px solid  #d7d7d7;
}
.menu__search_input_button {
	border: none;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
    height: 30px;
    width: 30px;
	margin-left: 5px;
}
.menu__search_input_button img {
	height: 100%;
}

/*	

------------------------------------------------------------
		
							END MENU

------------------------------------------------------------

*/





/*
------------------------------------------------------------

							RECOMMENDATION

------------------------------------------------------------
*/

.recommendation {
	display: flex;
	justify-content: space-between;
}


.recommendation__best_today {
	width: 55%;
}
.recommendation__best_today_image {
	position: relative;
}
.recommendation__best_today_image-img {
	height: 100%;
	width: 100%;
}
.recommendation__best_today_image_text {
	color: #222;
	font-family: 'Lora', serif;
	font-weight: 400;

	text-align: center;
	background-color: #fff;
	opacity: 0.9;

	width: 70%;
	padding: 15px;

	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.recommendation__best_today_image_text_inner {
	border: 2px solid #f0e965;
	padding: 20px;
}
.recommendation__best_today_image_text-title {
	font-weight: 600;
	font-style: italic;
	font-size: 30px;
}
.recommendation__best_today_image_text-description {
	font-weight: 400;
}
.recommendation__best_today_image_text-link {
	font-weight: 600;
	text-decoration: underline;
}


.recommendation__best_month {
	width: 40%;

	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.recommendation__best_month_logo {
	width: fit-content;

	font-size: 36px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
.recommendation__best_month_logo span {
	background-color: #fffdd0;
	border-radius: 25%;
	padding: 15px 0;
}


.recommendation__best_month_title {
	margin-top: 45px;
	font-size: 30px;
    font-family: 'Lora', sans-serif;
    text-decoration: underline;
    text-decoration-color: #f0e965;
}
.recommendation__best_month_list {
	margin-top: 25px;

	display: grid;
	grid-template-columns: 18rem 18rem;
	grid-template-rows: 24rem 24rem;
	align-items: center;
	justify-content: space-around;
}
.recommendation__best_month_list_item {
	height: 20rem;
	width: 16rem;
	transition: 0.2s;
	border: none;
}
.recommendation__best_month_list_item:hover {
	border-right: 7px solid #f0e965;
	border-bottom: 7px solid #f0e965;
}

.recommendation__best_month_list_item-img {
	height: 50%;
	width: 100%;
}
.recommendation__best_month_list_item_text {
	padding: 20px;
}
.recommendation__best_month_list_item_text-title {
	font-size: 26px;
	font-family: 'Lora', serif;
	font-weight: 500;
}
.recommendation__best_month_list_item_text-description {
	font-size: 18px;
	font-family: 'Lora', serif;
	font-weight: 400;
}


/*
------------------------------------------------------------

							END RECOMMENDATION

------------------------------------------------------------
*/





/*

------------------------------------------------------------
		
							FOOTER

------------------------------------------------------------

*/
.footer-section {
	margin-top: 10px;
}
.footer {
 	padding: 50px 0;
 	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.footer__links_ul {
	display: flex;
}
.footer__links_ul_li {
	margin-left: 25px;
}
.footer__links_ul_li:first-child {
	margin-left: 0;
}


.footer__authors {
	margin-top: 20px;
}
.footer__authors_author_makariy {
	font-size: 27px;
	font-family: 'Fleur De Leah', cursive;
}

/*

------------------------------------------------------------
		
							END FOOTER

------------------------------------------------------------

*/







