{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="{% static '/css/style.css' %}">
	<link rel="stylesheet" href="{% static '/css/home.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Roboto&family=Source+Sans+Pro&family=Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Caramel&family=Cookie&family=Fleur+De+Leah&family=Great+Vibes&family=Italianno&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static '/css/slick.css' %}">
	
</head>
<body>

	<section class="menu-section">
		<div class="container">
			<div class="menu">
				
				<div class="menu__logo">
					<a href="{% url 'home' %}" class="menu__logo_logo">
						Maki<span>Club</span>
					</a>
				</div>
				<div class="menu__categories">
					<ul class="menu__categories_list">
						<li class="menu__categories_list_item">
							<a href="#">Top</a>		
						</li>
						<li class="menu__categories_list_item">
							<a href="#">Popular</a>
						</li>
						<li class="menu__categories_list_item">
							<a href="#">Offers</a>
						</li>
						<li class="menu__categories_list_item">
							<a href="#">Best</a>
						</li>
					</ul>
				</div>
				<div class="menu__search">
					<input type="text" id="menu__search_input" placeholder="Search...">
					<button class="menu__search_input_button">
						<img src="{% static 'img/search.svg' %}" alt="">
					</button>
				</div>

			</div>
		</div>
	</section>
	

	<section class="presentation-section">
		<div class="container">
			<div class="presentation">
				
				<div class="presentation__recipes">
					<div class="presentation__recipes_slider">

						<!--
							Slides will be added dynamically with AJAX requests
						-->

					</div>
				</div>	

				<div class="presentation__popular">

					<h3 class="presentation__popular_title">
						Most popular:
					</h3>

					<div class="presentation__popular_list">
						<div class="presentation__popular_list_item">
							<a href="#" class="presentation__popular_list_item_link">
								<img src="{% static '/img/most_popular1.jpg' %}" class="presentation__popular_list_item_link-img">
							</a>
						</div>
						<div class="presentation__popular_list_item">
							<a href="#" class="presentation__popular_list_item_link">
								<img src="{% static '/img/most_popular2.jpg' %}" class="presentation__popular_list_item_link-img">
							</a>
						</div>
						<div class="presentation__popular_list_item">
							<a href="#" class="presentation__popular_list_item_link">
								<img src="{% static '/img/most_popular3.jpg' %}" class="presentation__popular_list_item_link-img">
							</a>
						</div>
						<div class="presentation__popular_list_item">
							<a href="#" class="presentation__popular_list_item_link">
								<img src="{% static '/img/most_popular2.jpg' %}" class="presentation__popular_list_item_link-img">
							</a>
						</div>
						<div class="presentation__popular_list_item">
							<a href="#" class="presentation__popular_list_item_link">
								<img src="{% static '/img/most_popular4.jpg' %}" class="presentation__popular_list_item_link-img">
							</a>
						</div>
						<div class="presentation__popular_list_item">
							<a href="#" class="presentation__popular_list_item_link">
								<img src="{% static '/img/most_popular4.jpg' %}" class="presentation__popular_list_item_link-img">
							</a>
						</div>
						<div class="presentation__popular_list_item">
							<a href="#" class="presentation__popular_list_item_link">
								<img src="{% static '/img/most_popular2.jpg' %}" class="presentation__popular_list_item_link-img">
							</a>
						</div>

					</div>	

					<h3 class="presentation__popular_title">
						New recipes:
					</h3>

					<div class="presentation__popular_list">
						<div class="presentation__popular_list_item">
							<a href="#" class="presentation__popular_list_item_link">
								<img src="{% static '/img/most_popular1.jpg' %}" class="presentation__popular_list_item_link-img">
							</a>
						</div>
						<div class="presentation__popular_list_item">
							<a href="#" class="presentation__popular_list_item_link">
								<img src="{% static '/img/most_popular2.jpg' %}" class="presentation__popular_list_item_link-img">
							</a>
						</div>

					</div>					
				</div>

			</div>
		</div>
	</section>



	<section class="recipes-section">
		<div class="container">
			<div class="recipes">
				
				<div class="recipes__list">

					<div class="recipes__list_item">
						<div class="recipes__list_item_img">
							<img src="{% static 'img/most_popular1.jpg' %}" class="recipes__list_item_img-img">			
						</div>
						<div class="recipes__list_item_text">
							<h4 class="recipes__list_item_text-title">
								Super title
							</h4>
							<p class="recipes__list_item_text-description">
								Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam, animi.
							</p>
							<ul class="recipes__list_item_text_ingredients">
								<li class="recipes__list_item_text_ingredients-item">Milk</li>
								<li class="recipes__list_item_text_ingredients-item">Vodka</li>
								<li class="recipes__list_item_text_ingredients-item">Coffee liqueur</li>
							</ul>	
							<a href="#" class="recipes__list_item_text-link">
								Checkout
							</a>
						</div>
					</div>

				</div>

			</div>
		</div>
	</section>



	<section class="footer-section">
		<div class="container">
			<div class="footer">

				<div class="footer__links">
					<ul class="footer__links_ul">
						<li class="footer__links_ul_li">
							<a href="#" class="footer__links_ul_li-link">
								<img src="{% static 'img/instagram.svg' %}" alt="" class="footer__links_ul_li-link--img">
							</a>
						</li>
						<li class="footer__links_ul_li">
							<a href="#" class="footer__links_ul_li-link">
								<img src="{% static 'img/youtube.svg' %}" alt="" class="footer__links_ul_li-link--img">
							</a>
						</li>
						<li class="footer__links_ul_li">
							<a href="#" class="footer__links_ul_li-link">
								<img src="{% static 'img/vk.svg' %}" alt="" class="footer__links_ul_li-link--img">
							</a>
						</li>
						<li class="footer__links_ul_li">
							<a href="#" class="footer__links_ul_li-link">
								<img src="{% static 'img/facebook.svg' %}" alt="" class="footer__links_ul_li-link--img">
							</a>
						</li>
					</ul>
				</div>	
				<div class="footer__authors">
					<div class="footer__authors_author">
						<div class="footer__authors_author_title footer__authors_author_makariy">
							Makariy Corp.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{% static '/js/slick.min.js' %}"></script>
	<script src="{% static '/js/main.js' %}"></script>
</html>